@import url('./reset.css');

.header {
    background-color: #D7DDE0;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.2);
    height: 80px;
    box-shadow: 0 6px 40px rgba(0,0,0,0.2);
    position: relative;
    z-index: 2;
}

.wrapper {
  display: flex;
  flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 26px 420px;
}

.logo {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.logo-text {
  display: flex;
    background: linear-gradient(
    to right,
    #00E5FF 0%,
    #7D75E8 59%,
    #FF00D0 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 600;
  font-size: 22px;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-weight: 600;
  font-size: 18px;
  color: #505050;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.contact-btn {
  background: linear-gradient(
    to right,
    #00E5FF 0%,
    #7D75E8 59%,
    #FF00D0 100%
  );
  color: #fff; /* белый текст */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 2px 18px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
}

/* Hover эффект */
.contact-btn:hover, .contact-btn:focus {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.main {
  background-color: #D7DDE0;
}

.main-wrapper {
  padding: 51px 420px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-heading {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #1E1E1E;
  width: 386px;
  line-height: 1.25;
}

.main-paragraf {
  width: 386px;
  color: #505050;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  gap: 42px;
}

.more-btn {
  background-color: transparent;
  border: 1px solid #505050;
  color: #505050;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 2px 18px;
  border-radius: 14px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
}

/* Hover эффект */
.more-btn:hover, .more-btn:focus {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.main-image {
  width: 425px;
  height: 496px;
  object-fit: cover;
  border: 1px solid #000;
  border-radius: 24px;
}